/* index.css */
.leaflet-popup-content-wrapper {
  border-radius: 16px !important;
  padding: 4px !important;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1) !important;
}

.leaflet-popup-tip {
  display: none !important; /* Tip hata kar clean look */
}

.leaflet-container {
  background: #f8fafc !important; /* Default background color */
}
body { overflow: hidden; }